In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

# Store the weather_data/cities CSV into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bhikangaon,IN,2020-01-06 02:15:03,21.87,75.96,58.48,55,0,6.85
1,1,Willowmore,ZA,2020-01-06 02:15:05,-33.30,23.49,57.74,79,100,2.91
2,2,Nantucket,US,2020-01-06 02:12:03,41.28,-70.10,35.60,55,1,10.29
3,3,Bereda,ES,2020-01-06 02:15:06,43.27,-7.54,41.00,100,75,8.05
4,4,The Valley,AI,2020-01-06 02:10:51,18.22,-63.06,78.80,74,20,8.05

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your google API Key
gmaps.configure(api_key=g_key)

In [5]:
# General outline for creating heatmaps
# 1. Assign the locations to an array of latitude and longitude pairs
#locations = [latitude, longitude]
# Assign the weights variable to some values
#temperatures = # an array of equal length of the locations array
# 3. Assign the figure variable to the gmaps.figure() attribute
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
#heathmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
#
# 5. Add the heatmap layer
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data
#fig

In [6]:
# Heatmap of temperature
# Get the lat and long
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locatins = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_later = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locatins = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_later = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locatins = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_later = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,The Valley,AI,2020-01-06 02:10:51,18.22,-63.06,78.80,74,20,8.05
7,7,Salalah,OM,2020-01-06 02:15:09,17.01,54.10,75.20,78,75,3.36
9,9,Dhidhdhoo,MV,2020-01-06 02:13:43,6.88,73.10,82.24,77,31,11.65
19,19,Hobart,AU,2020-01-06 02:12:40,-42.88,147.33,77.00,55,20,13.87
20,20,Mahebourg,MU,2020-01-06 02:15:18,-20.41,57.70,75.20,94,40,10.29
28,28,Ahuimanu,US,2020-01-06 02:15:23,21.44,-157.84,82.00,65,90,10.29
31,31,Rikitea,PF,2020-01-06 02:11:19,-23.12,-134.97,76.28,76,52,16.04
34,34,Hithadhoo,MV,2020-01-06 02:10:55,-0.60,73.08,84.33,73,100,12.73
36,36,Bambous Virieux,MU,2020-01-06 02:15:28,-20.34,57.76,75.20,94,40,10.29
37,37,Victoria,BN,2020-01-06 02:15:29,5.28,115.24,84.20,70,75,4.70

In [12]:
preferred_cities_df.count()

City_ID       104
City          104
Country       104
Date          104
Lat           104
Lng           104
Max Temp      104
Humidity      104
Cloudiness    104
Wind Speed    104
dtype: int64

In [13]:
# Cretae DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
4        The Valley      AI     78.80  18.22  -63.06
7           Salalah      OM     75.20  17.01   54.10
9         Dhidhdhoo      MV     82.24   6.88   73.10
19           Hobart      AU     77.00 -42.88  147.33
20        Mahebourg      MU     75.20 -20.41   57.70
28         Ahuimanu      US     82.00  21.44 -157.84
31          Rikitea      PF     76.28 -23.12 -134.97
34        Hithadhoo      MV     84.33  -0.60   73.08
36  Bambous Virieux      MU     75.20 -20.34   57.76
37         Victoria      BN     84.20   5.28  115.24

In [21]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the params dictionary as values to the location key
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make the request and get the JSON Data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
        
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,The Valley,AI,78.80,18.22,-63.06,CeBlue Villas & Beach Resort
7,Salalah,OM,75.20,17.01,54.10,HAMDAN PLAZA HOTEL
9,Dhidhdhoo,MV,82.24,6.88,73.10,
19,Hobart,AU,77.00,-42.88,147.33,St Ives Apartments
20,Mahebourg,MU,75.20,-20.41,57.70,Shandrani Beachcomber Resort & Spa
28,Ahuimanu,US,82.00,21.44,-157.84,Paradise Bay Resort
31,Rikitea,PF,76.28,-23.12,-134.97,Pension Maro'i
34,Hithadhoo,MV,84.33,-0.60,73.08,Scoop Guest House
36,Bambous Virieux,MU,75.20,-20.34,57.76,Casa Tia Villa
37,Victoria,BN,84.20,5.28,115.24,Tiara Labuan Hotel

In [20]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add pop up box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and add a popupbox
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))